#Banner3_0.lyfpx5fcs99-editor_css {
  color: #222222;
  background-image: url('https://image.080207.xyz/file/bfed4a895e37b454358f1.png');
}
#Banner5_0.lyfia762sv-editor_css {
  background-image: url(https://image.080207.xyz/file/84b466974078da34e94e0.png);
}
#Banner5_0 .home-page > .banner5-title-wrapper > .lygy6yax656-editor_css {
  color: #3a3a3a;
}
#Banner5_0
  .banner5-title-wrapper
  > .banner5-button-wrapper
  > .lygy7ckvico-editor_css {
  justify-content: center;
  color: rgb(167, 169, 171);
  background-color: rgb(64, 64, 64);
  background-image: linear-gradient(
    to right bottom,
    rgb(64, 64, 64) 0%,
    rgb(60, 137, 246) 0%,
    rgb(64, 64, 64) 4.17%
  );
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0);
}
#Footer0_0 .home-page > .lyh056syv3g-editor_css {
}
#Footer0_0.lyh0c893j1-editor_css {
  background-image: url(https://image.080207.xyz/file/22ad52198ac9bd7cbf977.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Banner3_0 .banner3-text-wrapper > .lyfpxsrtqxs-editor_css {
  display: inline-block;
  background-image: radial-gradient(
    circle at center center,
    rgb(58, 58, 58) 0%,
    rgb(49, 49, 49) 100%
  );
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 8px 16px rgb(64, 64, 64);
}
#Pricing2_0
  .ant-spin-nested-loading
  > .ant-spin-container
  > .lyh19wsyib-editor_css {
  background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Pricing2_0
  .ant-spin-nested-loading
  > .ant-spin-container
  > .lyh1bl331bs-editor_css {
  background-color: #404040;
  background-image: url('https://image.080207.xyz/file/5b737debda4977a0fa825.png');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Pricing2_0 .home-page > .pricing2-title-wrapper > .lyh1dq461hh-editor_css {
  font-weight: 400;
  color: rgb(167, 169, 171);
  opacity: 0.92;
}
#Pricing2_0.lyh18ba83tn-editor_css {
  background-image: url('https://image.080207.xyz/file/5b737debda4977a0fa825.png');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature1_0.lyh5itc0kp-editor_css {
  background-image: url(https://image.080207.xyz/file/cc2fe192d895d28b37758.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature1_1.lyhdd1tzddl-editor_css {
  background-image: url(https://image.080207.xyz/file/37b20bb0c4bf693148b9b.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature2_0.lyh5ub9efdq-editor_css {
  background-image: url(https://image.080207.xyz/file/f7b1f2db6600cd537ad2b.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Feature1_0 .ant-row > .ant-col > .lyh5zwoniq9-editor_css {
  color: #a7a9ab;
}
#Feature2_0 .ant-row > .ant-col > .lyhech8uh9-editor_css {
  color: #a7a9ab;
}
#Feature1_0 .ant-row > .ant-col > .lyhedmam1ll-editor_css {
  color: #a1a3a5;
}
#Feature2_0 .ant-row > .ant-col > .lyheeat2lu-editor_css {
  color: #a1a3a5;
}
#Banner4_0.lyhh05i7zb-editor_css {
  background-image: url(https://image.080207.xyz/file/b1f597d5c5f5812dd6ead.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Banner4_0 .home-page > .banner4-title-wrapper > .lyhh3tto767-editor_css {
  color: #404040;
}
#Feature2_2.lyhhew1gk-editor_css {
  background-image: url(https://image.080207.xyz/file/449653b1c03ac6366f666.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Banner4_0 .home-page > .banner4-title-wrapper > .lyhh00gqtfn-editor_css {
  font-size: 25px;
  color: rgb(64, 64, 64);
}
#Feature2_1.lyhdpiq20x-editor_css {
  position: static;
  background-image: url('https://image.080207.xyz/file/6f6e0dfbe7f5df9aebe72.png');
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Content12_0.lyi6c9f8en-editor_css {
  background-image: url(https://image.080207.xyz/file/bf6a0f92f44b749fa73e2.png);
  background-attachment: scroll;
  background-blend-mode: normal;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  background-clip: padding-box;
}
#Content12_0 .ant-col > .block-content > .lyi6ei9jmw9-editor_css {
  display: none;
}
#Content12_0 .ant-col > .block-content > .lyi6dqia4hd-editor_css {
  display: none;
}
#Content12_0 .home-page > .title-wrapper > .lyi6feii6c-editor_css {
  font-size: 25px;
}
#Content12_0 .home-page > .title-wrapper > .lyi6fif4rod-editor_css {
  font-size: 17px;
}
#Content12_0 .home-page > .title-wrapper > .lyi6e3yl1or-editor_css {
  font-size: 35px;
}
#Content12_0 .home-page > div > .lyi6dkbg2ou-editor_css {
  display: none;
}
#Content12_0 .lyi6dr7l7fo-editor_css {
}
